.aboutMe {
  margin-top: 2rem;
}

.aboutContent {
  display: flex;

  @media screen and (max-width: 720px) {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
}

.aboutBio {
  width: 100%;
  max-width: 450px;

  h2 {
    font-weight: bolder;
  }

  @media screen and (max-width: 720px) {
    margin-top: 2rem;
  }
}

.aboutSocial {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 0.5rem;



  @media screen and (max-width: 720px) {
    justify-content: center;
  }
}

.profileImage>img {
  border-radius: 50%;
  aspect-ratio: 16 / 9;
  object-fit: cover !important;
  object-position: center;
}


body[class="dark"] {
  .aboutSocial button.button:not(:hover) {
    background-color: rgba(0, 0, 0, 0.219);
    border-color: #464646;
  }
}