@import "./variables/vars";
/* autoprefixer: on */

$profileImageSizeSm: 200px;

.aboutMe {
  margin-top: 2rem;
  position: relative;
  z-index: 2;

  @include querie-md() {
    margin-top: 0.5rem;
  }
}

.aboutContent {
  display: flex;
  gap: 2rem;

  @include querie-md() {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  @include querie-sm() {
    gap: 1rem;
  }
}

.aboutBio {
  width: 100%;
  max-width: max-content;

  h2 {
    font-weight: 900;
  }

  @include querie-md() {
    margin-top: 0.5rem;
  }

  @include querie-sm() {
    margin-top: 0;
  }
}

.aboutSocial {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 2rem;

  @include querie-md() {
    justify-content: center;
    margin-top: 0.5rem;
  }
}

.atroposProfileImage {
  margin: 0 0 0 auto !important;

  @include querie-md() {
    margin: 0 auto !important;
  }

  @include querie-sm() {
    height: $profileImageSizeSm !important;
  }
}

.profileImage {
  border-radius: 50% !important;
  border: 0;
  z-index: 2;

  > img {
    border-radius: 50%;
    aspect-ratio: 16 / 9;
    object-fit: cover !important;
    object-position: center;
    display: block;
    border: 1px solid #3f3f469d;
    padding: 4px;

    @include querie-sm() {
      width: $profileImageSizeSm !important;
      height: $profileImageSizeSm !important;
    }
  }
}

@include dark-mode() {
  button.button:not(:hover) {
    background-color: $dark-button-social-color !important;
    border-color: $gray-color !important;
    &:focus {
      color: #fff !important;
      > span svg {
        color: #fff !important;
      }
    }
  }
}

button.default {
  border-radius: 6px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  font-weight: 500;
  text-align: center;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  background-color: #2563eb;
  border-color: #1d4ed8;
  color: white !important;
  position: relative;
  background-image: linear-gradient(to bottom, #3b82f6, #2563eb);
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-image: linear-gradient(to bottom, #2563eb, #2563eb);
    border-color: #1d4ed8;
  }

  &:disabled {
    opacity: 0.5;
    box-shadow: none;
    cursor: not-allowed;
  }

  &:focus {
    box-shadow: none;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.35);
    pointer-events: none;
  }
}
