@import "./variables/vars";

.footer,
.copyright {
  @include h-center();
}

.copyright{
  margin-left: 10px;
}

.footer {
  color: $footer-text-color !important;
  justify-content: center;
  margin-top: 3rem;
}

.icon {
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}
