@mixin dflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding: 1.2rem 2rem;
  border-bottom: 1px solid #eee;

  @media screen and (max-width: 520px) {
    padding: 1.2rem 0.8rem;
  }
}

.headerTitle {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.headerWrapper {
  @include dflex();
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.headerMenu {
  @include dflex();
}

body[class="dark"] {
  .header {
    border-bottom-color: #464646;
  }
}