@import "./variables/vars";

.header {
  padding: 1.2rem 2rem;
  // border-bottom: 1px solid $light-color;
  backdrop-filter:  blur(5rem);

  @include querie-sm () {
    padding: 1.2rem 0.8rem;
  }
}

.headerTitle {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.headerWrapper,
.headerMenu {
  @include between();
}

.headerWrapper {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

@include dark-mode() {
  .header {
    border-bottom-color: $gray-color;
  }
}