.projects {
  margin-top: 3rem;
}

.subtitle {
  margin-bottom: 0;
  margin-top: 0;
}

.content {
  display: flex;

  @media screen and (max-width:520px) {
    flex-direction: column;
  }
}

.filterContainer{
  background-color: rgba(0, 0, 0, 0.219) !important ;
}

.project {
  padding: 1rem;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 8px;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.filter {
  width: max-content;
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin-left: auto;

  @media screen and (max-width:520px) {
    margin-left: unset;
    margin-top: 1.2rem;
    width: 100%;
  }
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 600px;
  overflow-y: auto;
  padding-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  gap: 5px;

  @media screen and (max-width:520px) {
    padding-right: 0;
  }
}

.project {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(50% - 5px);
  margin-bottom: 0.5rem;

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  >p {
    font-size: 14px;
    margin-top: 0.5rem;
  }

  @media screen and (max-width: 720px) {
    flex: 0 0 calc(100% - 10px);
  }
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: auto;

  >span {
    border-color: #a6a3a3 !important;
  }
}

.link {
  font-size: 12px !important;
}

body[class="dark"] {
  .project {
    border-color: #464646;
    background-color: rgba(0, 0, 0, 0.137);
  }

  .technologies>span {
    border-color: #464646 !important;
    background-color: transparent;
  }
}