@import "./variables/vars";

.projects {
  margin-top: 3rem;
}

.subtitle {
  margin: 0;
}

.content {
  display: flex;

  @include querie-sm() {
    flex-direction: column;
  }
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.filter {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;

  @include querie-sm() {
    margin-left: unset;
    margin-top: 1.2rem;
    width: 100%;
  }
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 1rem;
  margin: 2rem 0 3rem 0;
  gap: 5px;

  @include querie-sm() {
    padding-right: 0;
  }
}

.project {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(50% - 5px);
  margin-bottom: 0.5rem;
  padding: 1rem;
  border: 1px solid $project-list-border-color;
  border-radius: 8px;

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  >p {
    font-size: 14px;
    margin-top: 0.5rem;
  }

  @include querie-md() {
    flex: 0 0 100%;
  }
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: auto;

  >span {
    border-color: $light-gray  !important;
  }
}

.link {
  font-size: 12px !important;
}

@include dark-mode {
  .project {
    @include setBackgroundBorder($gray-color, $dark-project-background );
  }

  .technologies>span {
    @include setBackgroundBorder($gray-color, transparent);
  }

  .filterContainer {
    background-color: $dark-filter-projects-background  !important;
  }
}