@import "./variables/vars";
/* autoprefixer: on */
.projects {
  margin-top: 3rem;
}

.content {
  display: flex;
  margin-top: 6rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include querie-sm() {
    flex-direction: column;
  }
}

.filter {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  @include querie-sm() {
    margin-left: unset;
    margin-top: 1.2rem;
    width: 100%;
  }
}

.project {
  padding: 1rem;
  border: 1px solid $project-list-border-color;
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  h3 {
    font-size: 1rem;
    margin-bottom: 0;
  }

  > p {
    font-size: 13px;
    margin-top: 0.5rem;
  }

  @include querie-md() {
    flex: 0 0 100%;
  }
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  > span {
    border-color: $light-gray !important;
  }
}

.link {
  font-size: 12px !important;
}

@include dark-mode {
  .projectContainer {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    outline: 1px solid #94a3b81a;
    outline-offset: 2px;

    &::before {
      background: -webkit-linear-gradient(
          71.52deg,
          hsla(0, 0%, 100%, 0.25) 2.76%,
          hsla(0, 0%, 100%, 0) 17.23%
        ),
        -webkit-linear-gradient(249.4deg, hsla(0, 0%, 100%, 0.25) 4.13%, hsla(0, 0%, 100%, 0) 20.54%);
      border-radius: inherit;
      content: "";
      inset: 0;
      -webkit-mask: linear-gradient(#eee 0 0) content-box, linear-gradient(#eee 0 0);
      mask: linear-gradient(#eee 0 0) content-box, linear-gradient(#eee 0 0);
      mask-composite: xor;
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      padding: 0.6px;
      pointer-events: none;
      position: absolute;
    }
  }

  .project {
    background: linear-gradient(
      to top right,
      $dark-project-background,
      lighten($dark-background-color, 5%)
    );
    border-color: transparent;
  }

  .technologies > span {
    @include setBackgroundBorder($gray-color, transparent);
  }

  .filterContainer {
    background-color: $dark-filter-projects-background !important;
  }
}
