.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  >span {
    border-color: #a6a3a3 !important;
    cursor: default;
    padding: 1.3rem 1rem !important;
  }
}

.skills {
  margin: 3rem 0;
}

body[class="dark"] {
  .skillsList>span {
    background-color: rgba(0, 0, 0, 0.219) !important ;
    border-color: #464646 !important;
  }
}