@import "./variables/vars";

.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  > span {
    border-color: $light-gray !important;
    cursor: default;
    padding: 1.3rem 1rem !important;

    @include querie-sm() {
      padding: 1rem 0.8rem !important;
      font-size: 16px !important;
    }
  }
}

.skills {
  margin: 3rem 0;
}

@include dark-mode {
  .skillsList > span {
    @include setBackgroundBorder($gray-color, $dark-skills-color);
  }
}
