::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(136, 136, 136, 0.575);
}

* {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

body {
  cursor: none;
}

code {
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
  padding: 0.6rem;
  font-family: monospace;
  color: #000 !important;

  &::before,
  &::after {
    content: "" !important;
  }
}

.container {
  width: 100%;
  max-width: calc(800px + 2rem);
  padding: 0 1rem;
  margin: auto;
  margin-bottom: 4rem;
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  ;
  transition: all 40ms linear;
  pointer-events: none;

  background: -o-linear-gradient(to top, #02aab0, #00cdac);
  background: -moz-linear-gradient(to top, #02aab0, #00cdac);
  background: -webkit-linear-gradient(to top, #02aab0, #00cdac);
  background: linear-gradient(to top, #02aab0, #00cdac);
}

.opacity-gradient {
  mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.3)));
  mask-image: -moz-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.3)));
  mask-image: -o-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.3)));
}

.text-gradient {
  font-weight: bolder;
  background: -o-linear-gradient(to top, #02aab0, #00cdac);
  background: -moz-linear-gradient(to top, #02aab0, #00cdac);
  background: -webkit-linear-gradient(to top, #02aab0, #00cdac);
  background: linear-gradient(to top, #02aab0, #00cdac);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}