@import "./variables/vars";
/* autoprefixer: on */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: $scroll-thumb-color;
}

* {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

code {
  border-radius: 5px;
  border: 1px solid $gray-color;
  padding: 0.6rem;
  font-family: monospace;
  color: $black-color !important;

  &::before,
  &::after {
    content: "" !important;
  }
}

.container {
  width: 100%;
  max-width: calc(800px + 2rem);
  padding: 0 1rem;
  margin: auto;
  padding-bottom: 2rem;
  position: relative;
  //overflow-x: hidden;
}

.gradient1 {
  position: absolute;
  z-index: 1;
  left: -4rem;
  top: -20rem;
  filter: blur(2rem);
  user-select: none;
  pointer-events: none;

  @include querie-md() {
    top: 0;
    left: 0;
  }

  @include querie-sm() {
    top: 8rem;
    left: 0;
    transform: scale(1.5);
  }
}

.select-dropdown {
  background-color: $filter-projects-color !important;

  > div.option {
    background-color: transparent;

    &:hover {
      background-color: darken($filter-projects-color, 4) !important;
    }

    span {
      color: #fff;
    }
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.text-gradient {
  font-weight: bolder;
  @include gradient();
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 850px) {
  .wrapper {
    padding: 0 1rem;
  }
}

@include dark-mode() {
  background-color: $dark-background-color;
  color: $dark-text-color;

  &::-webkit-scrollbar-track {
    background: $dark-background-color;
  }
  code {
    color: $dark-text-color !important;
    background-color: $dark-light ;
    padding: 14px;
  }
}

@include querie-md() {
  body {
    font-size: 15px !important;
  }
}

@include querie-sm() {
  .wrapper {
    padding: 0;
    overflow-x: hidden;
  }
}
