@import "./variables/vars";
/* autoprefixer: on */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: $scroll-thumb-color;
}

::selection {
  color: fff !important;
  background: rgb(57, 57, 255) !important;
}

* {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100dvh !important;
}



body {
  cursor: url("/cursor.png"), auto !important;
}

:where(a, button, .select, .select > *, input, .option):hover {
  cursor: url("/pointer.png"), auto !important;
}

:where(a, button, .select, .select > *, input, .option):disabled {
  cursor: url("/notallowed.png"), auto !important;
}

button:disabled {
  opacity: 0.5 !important;
}

code {
  border-radius: 5px;
  border: 1px solid $gray-color;
  padding: 0.6rem;
  font-family: monospace;
  color: $black-color !important;

  &::before,
  &::after {
    content: "" !important;
  }
}

.container {
  width: 100%;
  max-width: calc(800px + 2rem);
  padding: 0 1rem;
  margin: auto;
  padding-bottom: 2rem;
  position: relative;
  //overflow-x: hidden;
}

.title-gradient {
  font-weight: bolder;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background:  linear-gradient(to right, #43cea2, #083d72) text;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  @extend .title-gradient;
}

.gradient1 {
  position: absolute;
  z-index: 1;
  left: -4rem;
  top: -20rem;
  filter: blur(2rem);
  user-select: none;
  pointer-events: none;

  @include querie-md() {
    top: 0;
    left: 0;
  }

  @include querie-sm() {
    top: 8rem;
    left: 0;
    transform: scale(1.5);
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.text-gradient {
  font-weight: bolder;
  @include gradient();
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 850px) {
  .wrapper {
    padding: 0 1rem;
  }
}

@include dark-mode() {
  background-color: $dark-background-color;
  color: $dark-text-color;

  &::-webkit-scrollbar-track {
    background: $dark-background-color;
  }
  code {
    color: $dark-text-color !important;
    background-color: $dark-light;
    padding: 14px;
  }
  .select-dropdown {
    background-color: $dark-background-color !important;

    > div.option {
      background-color: transparent;

      &:hover {
        background-color: darken($dark-background-color, 4) !important;
      }

      span {
        color: #fff;
      }
    }
  }
}

@include querie-md() {
  body {
    font-size: 15px !important;
  }
}

@include querie-sm() {
  .wrapper {
    padding: 0;
    overflow-x: hidden;
  }
}
